html {
  overflow-y: scroll; /* prevents page repositioning when a scrollbar is present */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
     clear: both;
}
.cf {
    *zoom: 1; /* for IE6 and IE7 */
}

.shadow {
    /*border: 1px solid gray;*/
    box-shadow: 10px 10px 20px #cccccc;
}

.center-global {
  max-width: 1600px;
  margin: 0 auto;
}

.unvisible {
    display: none;
}

h1 {
    font-size: 130%;
}

h2 {
    font-size: 100%;
}

a {
  text-decoration: none;
  color: #60c7e6;
}


nav,header,footer,article { display:block; }

#nav {
    float: right;
    margin-right: 25%;
    /*background:#c00;*/
    /*padding:10px;*/
    padding-top: 40px;
    /*overflow:hidden;*/ 
}

#nav ul {
    list-style:none;
    margin:0;
    padding:0; }

#nav li {
    float:left; }
    
#nav li a {
    font-size: 16pt;
    text-transform: uppercase;
    padding:0 10px;
    -webkit-transition: color .4s ease-out;
    -moz-transition: color .4s ease-out;
    o-transition: color .4s ease-out;
    transition: color .4s ease-out;
}

nav li a:hover {
     text-decoration: none;
     color: #333333;
}
    
/*@media only screen and (max-width:480px) {
body {
    background:#000; }

}*/

#wikingDiv {
    height: 100%;
}

html, body {
    height: 90%;
    background-image: url("../data/l3po_bg.png")
}

.svgcontainer {
    width: 75%;
    height: 90%;
    float: left;
    padding: 5px;
}

.sidebar {
    width: 22%;
    height: 90%;
    float: right;
    padding: 5px;
}

svg {
    width: 100%;
    height: 96%;
    background-color: white;
    border-radius: 20px;
}

#controls {
    width: 100%;
    height: 3%;
    /*padding: 5px;*/
    margin: 0px 0px 15px 0px;
    
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    
    /*background-color: white;*/
    /*border-radius: 5px;*/
}

#data {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#data-inner tr td {
}

#modal {
    width: 400px;
    z-index:1;
    background: white;
    border: 1px black solid;
    box-shadow: 10px 10px 5px #888888;
}

.wikiPageInput {
    width: 93%;
    /*height: 70%;*/
    float: left;
    border: 0;
    margin: 1px;
    padding: 2px;
}

.wikiPageInput:focus {
    outline: 0;
}

#go {
    float: left;
    width: 4%;
    margin: 0px 0px 0px 2px;
    /*margin: 3% 2% 3% 0%;*/
}


#about {
    width: 100%;
    background-color: white;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    padding: 20px;
    border-radius: 20px;
}

#admin {
    width: 100%;
    background-color: white;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    padding: 20px;
    border-radius: 20px;
}

textarea {
    overflow: scroll;
}

#footer {
    color: #333333;
}

textarea {
    resize: both;
}

#cypherQuery {
    width: 50em;
    height: 4em;
}

#cypherResult {
    width: 90em;
    height: 30em;
}

/*
tr {
    border: 1px gray solid;
}
td {
    font-size: 10px;
}
td.data {
    font-weight: 900;
}
*/

line {
    shape-rendering: crispEdges;
    stroke: #000000;
}

line.minor  {
    stroke: #777777;
    stroke-dasharray: 2,2;
}

path.domain {
    fill: none;
    stroke: black;
}



.menu {
    border: 1px solid black;
    background-color: grey;
    display: none;
    position: relative;
    list-style-type: none;
}
.menu,
.menu li {
    padding: 0px;
    margin: 0px;
}
.menu li {
    color: white;
}
.menu > li:hover {
    background-color: #60c7e6;
    color: black;
}

.menu-mobile {
    font-size: 150%;
}
/*
.menu li {
    display: none;
}
*/

.menu.svg li.svg ,
.menu.svg li.svg li,
.menu.rect li.rect ,
.menu.circle li.circle li,
.menu.circle li.circle {
    display: block;
}   

.node-selected {
}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}