/* set some default css for our new HTML 5 elements */
nav,header,footer,article { display:block; }

#nav {
    background:#c00;
    padding:10px;
    overflow:hidden; }

#nav ul {
    list-style:none;
    margin:0;
    padding:0; }

#nav li {
    float:left; }
    
#nav li a {
    color:#fff;
    padding:0 10px; }
    
@media only screen and (max-width:480px) {

/* do something to the design for small screens */
body {
    background:#000; }

}

svg {
    height: 550px;
    width: 1000px;
    border: 1px solid gray;
    box-shadow: 10px 10px 5px #888888;
}

#data {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: 1100px;
    border: 1px black solid;
    box-shadow: 10px 10px 5px #888888;
}

#controls {
    width: 400px;
    height: 100px;
    position: absolute;
    top: 580px;
    left: 1100px;
    border: 1px black solid;
    box-shadow: 10px 10px 5px #888888;
}

#modal {
    width: 400px;
    z-index:1;
    background: white;
    border: 1px black solid;
    box-shadow: 10px 10px 5px #888888;
}

#details table tr th {
    font-size: 150%;
}

#details table tr td {
    font-size: 100%;
}

/*
tr {
    border: 1px gray solid;
}
td {
    font-size: 10px;
}
td.data {
    font-weight: 900;
}
*/

line {
    shape-rendering: crispEdges;
    stroke: #000000;
}

line.minor  {
    stroke: #777777;
    stroke-dasharray: 2,2;
}

path.domain {
    fill: none;
    stroke: black;
}



.menu {
    border: 1px solid black;
    background-color: grey;
    display: none;
    position: relative;
    list-style-type: none;
}
.menu,
.menu li {
    padding: 0px;
    margin: 0px;
}
.menu li {
    color: white;
}
.menu > li:hover {
    background-color: lightblue;
    color: black;
}
/*
.menu li {
    display: none;
}
*/

.menu.svg li.svg ,
.menu.svg li.svg li,
.menu.rect li.rect ,
.menu.circle li.circle li,
.menu.circle li.circle {
    display: block;
}   

.node-selected {
}