.spa-shell-header, .spa-shell-warning, .spa-shell-workspace, .spa-shell-footer {
    position: absolute;
}

.spa-shell-header {
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    /*background: orange;*/
}

.spa-shell-warning {
    top: 100px;
    left: 0;
    height: 20px;
    right: 0;
    background: red;
}

.spa-shell-workspace {
    top: 120px;
    left: 0;
    bottom: 40px;
    right: 0;
    /*background: lightblue;*/
}

.spa-shell-footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: green;
}