#nav {
    float: right;
    margin-right: 25%;
    padding-top: 40px;
}

#nav ul {
    list-style:none;
    margin:0;
    padding:0; }

#nav li {
    float:left; }
    
#nav li a {
    font-size: 16pt;
    text-transform: uppercase;
    padding:0 10px;
    -webkit-transition: color .4s ease-out;
    -moz-transition: color .4s ease-out;
    o-transition: color .4s ease-out;
    transition: color .4s ease-out;
}

nav li a:hover {
     text-decoration: none;
     color: #333333;
}

