* {
    margin  : 0;
    padding : 0;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
  }
  
/*html {*/
  /*overflow-y: scroll;  prevents page repositioning when a scrollbar is present */
  /*font-family: Verdana, Geneva, sans-serif;*/
  /*font-size: 14px;*/
/*}*/
  
#spa {
    position : absolute;
    top      : 8px;
    left     : 8px;
    bottom   : 8px;
    right    : 8px;

    min-height : 500px;
    min-width  : 500px;
    overflow   : hidden;

    /*background-color : #fff;*/
    /*border-radius    : 0 8px 0 8px;*/
    /*background-image: url("../img/l3po_bg.png")*/
}
  
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
     clear: both;
}
.cf {
    *zoom: 1;  // for IE6 and IE7 
}

.center-global {
  max-width: 1600px;
  margin: 0 auto;
}

.shadow {
    /*border: 1px solid gray;*/
    box-shadow: 10px 10px 20px #cccccc;
}